In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("rawdat.csv")

In [3]:
df.head()

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales
0,01-Dec-20,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,"1,116","4,28,700"
1,01-Dec-20,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,"3,003","13,74,831"
2,01-Dec-20,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,"2,962","7,32,167"
3,01-Dec-20,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,"1,004","3,77,100"
4,01-Dec-20,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555,"1,52,287"

In [4]:
df.isna().sum()

Month           0
Channel         0
Sub-Channels    0
Product Name    0
Category        0
Qty             0
Sales           0
dtype: int64

In [5]:
df.fillna(0)

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales
0,01-Dec-20,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,"1,116","4,28,700"
1,01-Dec-20,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,"3,003","13,74,831"
2,01-Dec-20,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,"2,962","7,32,167"
3,01-Dec-20,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,"1,004","3,77,100"
4,01-Dec-20,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555,"1,52,287"
...,...,...,...,...,...,...,...
219,01-Mar-21,Marketplace,Big Basket,ORGANIC GULKAND 300grams,Gourmet Nutrition,509,"1,65,426"
220,01-Mar-21,Marketplace,Flipkart,ALOE + GARCINIA JUICE 1 L,Juices,542,"2,48,830"
221,01-Mar-21,Marketplace,Flipkart,AMLA JUICE 1 L,Juices,645,"1,40,907"
222,01-Mar-21,Marketplace,Flipkart,GET SLIM JUICE 1 L,Juices,"1,242","4,36,043"
223,01-Mar-21,Marketplace,GOQII,RAW HONEY ( MADHU) 500 GRAMS,Gourmet Nutrition,971,"5,82,600"

In [6]:
df['Month'] = pd.to_datetime(df['Month'])
df['Month1'] = df['Month'].dt.strftime("%b")

In [7]:
df['Qty'] = df['Qty'].str.replace(r'\W',"")
df['Sales'] = df['Sales'].str.replace(r'\W',"")

C:\Users\dpshp\AppData\Local\Temp\ipykernel_21128\1096054747.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Qty'] = df['Qty'].str.replace(r'\W',"")
C:\Users\dpshp\AppData\Local\Temp\ipykernel_21128\1096054747.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Sales'] = df['Sales'].str.replace(r'\W',"")

In [8]:
df['Qty'] = pd.to_numeric(df['Qty'], errors='coerce')

In [18]:
df

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales,Month1
0,2020-12-01,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,1116,428700,Dec
1,2020-12-01,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,3003,1374831,Dec
2,2020-12-01,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,2962,732167,Dec
3,2020-12-01,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,1004,377100,Dec
4,2020-12-01,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555,152287,Dec
...,...,...,...,...,...,...,...,...
219,2021-03-01,Marketplace,Big Basket,ORGANIC GULKAND 300grams,Gourmet Nutrition,509,165426,Mar
220,2021-03-01,Marketplace,Flipkart,ALOE + GARCINIA JUICE 1 L,Juices,542,248830,Mar
221,2021-03-01,Marketplace,Flipkart,AMLA JUICE 1 L,Juices,645,140907,Mar
222,2021-03-01,Marketplace,Flipkart,GET SLIM JUICE 1 L,Juices,1242,436043,Mar
223,2021-03-01,Marketplace,GOQII,RAW HONEY ( MADHU) 500 GRAMS,Gourmet Nutrition,971,582600,Mar

1. Monthwise number of quantities sold

In [9]:
df1=df.groupby("Month1").sum().sort_values(by=["Month1"],ascending=True)
df1

          Qty
Month1
Dec     85427
Feb     76393
Jan     67732
Mar     80229

In [10]:
df['Sales'] = pd.to_numeric(df['Sales'], errors='coerce')

2. Category wise Qty sold

In [11]:
df2=df.groupby("Category")['Qty'].sum()
df2

Category
Functional nutrition     42354
Gourmet Nutrition        89279
Juices                  178148
Name: Qty, dtype: int64

3. Sub-channel wise total sales

In [12]:
df3=df.groupby("Sub-Channels").sum()
df3

                     Qty     Sales
Sub-Channels
AMAZON             98130  35606804
Big Basket          7340   1207522
D2C                42780  28047538
Flipkart           11121   3770415
GOQII                971    582600
Offline - Central   6096    375332
Offline - East      8452    811146
Offline - MT       40219   6257948
Offline - South    30864   3446395
Offline - West     52099   6441427
Offline -North     11709   1206564

4. Highest sale in which month

In [13]:
df4=df.groupby("Month1").sum().sort_values(by=["Sales"],ascending=False).head(1)
df4

          Qty     Sales
Month1
Mar     80229  25127827

5. Highest selling product (based on sales) (packaging quantity doesn't matter. Ex. consider "GET SLIM
JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)

In [14]:
df5=df.groupby("Product Name").sum().sort_values(by=["Sales"],ascending=False)
df5.iloc[0]

Qty         23585
Sales    12249252
Name: ALOE + GARCINIA JUICE 1 L, dtype: int64

6. List of different products company is offering (packaging quantity doesn't matter. Ex. consider "GET
SLIM JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)

In [15]:
df6=df['Product Name'].unique()
df6

array(['ALOE + AMLA JUICE 1 L', 'ALOE + GARCINIA JUICE 1 L',
       'ALOE VERA JUICE 1 L', 'ALOE VERA SKIN GEL 500 GM',
       'NEEM JUICE 1 L', 'NONI JUICE 1 L',
       'SLIM SHAKE - CHOCOLATE 500 GM', 'SLIM SHAKE - MANGO 500 GM',
       'TRIPHALA JUICE 1 L', 'TULSI GILOY JUICE 1 L',
       'WHEAT GRASS JUICE 1 L', 'AMLA JUICE 1 L', 'GET SLIM JUICE 1 L',
       'HIMALAYA OIL 20 GRMS', 'VIGOR MAX JUICE 1 L',
       'ORGANIC JAGGERY POWDER 500 GRAMS', 'ALOE VERA SKIN GEL 150 GM',
       'APPLE CIDER VINEGAR500 grams', 'VIRGIN COCONUT OIL 250 ML',
       'KARELA JAMUN JUICE 1 L',
       'MASALA SUPERGRAIN MIX ENERGY 380 GM ( OFFLINE)',
       'MASALA SUPERGRAIN MIX IMMUNITY 400 GM ( OFFLINE)',
       'AMLA + GILOY JUICE 1 L', 'DIA FREE JUICE 1 L',
       'IMMUNE CARE JUICE 1 L', 'MASALA SUPERGRAIN MIX IMMUNITY 400 GM',
       'ORGANIC GULKAND 300grams', 'VEGAN PROTEIN - CHOCOLATE 1 KG',
       'GET SLIM CAPSULES 60 CAPS', 'RAW HONEY ( MADHU) 500 GRAMS'],
      dtype=object)

In [16]:
df['Product Name'].nunique()

30

7. Create a single excel file to save all the outputs generated above in different subsheets. Email final
output file and your python code (.ipynb) file to ranotiyahemant@gmail.com

In [17]:
with pd.ExcelWriter("FMCG1.xlsx") as writer:
    df1.to_excel(writer, sheet_name="Monthwise no of qty sold")  
    df2.to_excel(writer, sheet_name="Category wise Qty sold") 
    df3.to_excel(writer, sheet_name="Sub-channel wise total sales") 
    df4.to_excel(writer, sheet_name="Highest sale month")
    df5.to_excel(writer, sheet_name="Highest selling product")
    df6.to_excel(writer, sheet_name="Unique Product")

AttributeError: 'numpy.ndarray' object has no attribute 'to_excel'