In [1]:
import numpy as np
import pandas as pd

In [2]:
order_report=pd.read_excel("Company X - Order Report.xlsx")
pincode_zones=pd.read_excel("Company X - Pincode Zones.xlsx")
sku_master=pd.read_excel("Company X - SKU Master.xlsx")
invoice=pd.read_excel("Courier Company - Invoice.xlsx")
rates=pd.read_excel("Courier Company - Rates.xlsx").T.reset_index()
df=pd.DataFrame()

In [3]:
order_report

     ExternOrderNo            SKU  Order Qty
0       2001827036  8904223818706        1.0
1       2001827036  8904223819093        1.0
2       2001827036  8904223819109        1.0
3       2001827036  8904223818430        1.0
4       2001827036  8904223819277        1.0
..             ...            ...        ...
395     2001806229  8904223818942        1.0
396     2001806229  8904223818850        1.0
397     2001806226  8904223818850        2.0
398     2001806210  8904223816214        1.0
399     2001806210  8904223818874        1.0

[400 rows x 3 columns]

In [4]:
sku_master

              SKU  Weight (g)
0   8904223815682         210
1   8904223815859         165
2   8904223815866         113
3   8904223815873          65
4   8904223816214         120
..            ...         ...
61  8904223819505         210
62  8904223819499         210
63  8904223819512         210
64  8904223819543         300
65     SACHETS001          10

[66 rows x 2 columns]

In [5]:
sku_master.drop_duplicates(inplace= True)

In [6]:
df=pd.merge(order_report,sku_master,how='left',on='SKU')
df

     ExternOrderNo            SKU  Order Qty  Weight (g)
0       2001827036  8904223818706        1.0         127
1       2001827036  8904223819093        1.0         150
2       2001827036  8904223819109        1.0         100
3       2001827036  8904223818430        1.0         165
4       2001827036  8904223819277        1.0         350
..             ...            ...        ...         ...
395     2001806229  8904223818942        1.0         133
396     2001806229  8904223818850        1.0         240
397     2001806226  8904223818850        2.0         240
398     2001806210  8904223816214        1.0         120
399     2001806210  8904223818874        1.0         100

[400 rows x 4 columns]

In [7]:
df['Total Weight'] = df['Order Qty']*df['Weight (g)']
df

     ExternOrderNo            SKU  Order Qty  Weight (g)  Total Weight
0       2001827036  8904223818706        1.0         127         127.0
1       2001827036  8904223819093        1.0         150         150.0
2       2001827036  8904223819109        1.0         100         100.0
3       2001827036  8904223818430        1.0         165         165.0
4       2001827036  8904223819277        1.0         350         350.0
..             ...            ...        ...         ...           ...
395     2001806229  8904223818942        1.0         133         133.0
396     2001806229  8904223818850        1.0         240         240.0
397     2001806226  8904223818850        2.0         240         480.0
398     2001806210  8904223816214        1.0         120         120.0
399     2001806210  8904223818874        1.0         100         100.0

[400 rows x 5 columns]

In [8]:
df=df.groupby('ExternOrderNo').sum().reset_index()
df

     ExternOrderNo  Order Qty  Weight (g)  Total Weight
0       2001806210        2.0         220         220.0
1       2001806226        2.0         240         480.0
2       2001806229        3.0         500         500.0
3       2001806232        8.0         377        1302.0
4       2001806233        2.0         245         245.0
..             ...        ...         ...           ...
119     2001821995        2.0         477         477.0
120     2001822466       10.0         352        1376.0
121     2001823564        6.0         336         672.0
122     2001825261       13.0         611        1557.0
123     2001827036        9.0        1539        1676.0

[124 rows x 4 columns]

In [9]:
invoice

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4

In [10]:
df=pd.merge(df,invoice,left_on='ExternOrderNo',right_on='Order ID')
df

,ExternOrderNo,Order Qty,Weight (g),Total Weight,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,2001806210,2.0,220,220.0,1091117221940,2001806210,2.92,121003,140604,b,Forward charges,174.5
1,2001806226,2.0,240,480.0,1091117222065,2001806226,0.68,121003,723146,d,Forward charges,90.2
2,2001806229,3.0,500,500.0,1091117222080,2001806229,0.71,121003,421204,d,Forward charges,90.2
3,2001806232,8.0,377,1302.0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
4,2001806233,2.0,245,245.0,1091117222135,2001806233,0.78,121003,263139,b,Forward charges,61.3
...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001821995,2.0,477,477.0,1091121183730,2001821995,0.50,121003,342008,d,Forward charges,45.4
120,2001822466,10.0,352,1376.0,1091121305541,2001822466,1.10,121003,342301,d,Forward charges,135.0
121,2001823564,6.0,336,672.0,1091121666133,2001823564,0.70,121003,492001,d,Forward and RTO charges,172.8
122,2001825261,13.0,611,1557.0,1091121981575,2001825261,1.60,121003,517128,d,Forward and RTO charges,345.0
123,2001827036,9.0,1539,1676.0,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9

In [11]:
df.drop(['ExternOrderNo','Order Qty','Weight (g)','Zone'],axis=1,inplace=True)

In [12]:
df

,Total Weight,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Type of Shipment,Billing Amount (Rs.)
0,220.0,1091117221940,2001806210,2.92,121003,140604,Forward charges,174.5
1,480.0,1091117222065,2001806226,0.68,121003,723146,Forward charges,90.2
2,500.0,1091117222080,2001806229,0.71,121003,421204,Forward charges,90.2
3,1302.0,1091117222124,2001806232,1.30,121003,507101,Forward charges,135.0
4,245.0,1091117222135,2001806233,0.78,121003,263139,Forward charges,61.3
...,...,...,...,...,...,...,...,...
119,477.0,1091121183730,2001821995,0.50,121003,342008,Forward charges,45.4
120,1376.0,1091121305541,2001822466,1.10,121003,342301,Forward charges,135.0
121,672.0,1091121666133,2001823564,0.70,121003,492001,Forward and RTO charges,172.8
122,1557.0,1091121981575,2001825261,1.60,121003,517128,Forward and RTO charges,345.0
123,1676.0,1091122418320,2001827036,1.60,121003,173213,Forward charges,117.9

In [13]:
df.columns

Index(['Total Weight', 'AWB Code', 'Order ID', 'Charged Weight',
       'Warehouse Pincode', 'Customer Pincode', 'Type of Shipment',
       'Billing Amount (Rs.)'],
      dtype='object')

In [14]:
df = df.iloc[:, [1, 2, 3, 0, 4, 5, 6, 7]]
df.head()

,AWB Code,Order ID,Charged Weight,Total Weight,Warehouse Pincode,Customer Pincode,Type of Shipment,Billing Amount (Rs.)
0,1091117221940,2001806210,2.92,220.0,121003,140604,Forward charges,174.5
1,1091117222065,2001806226,0.68,480.0,121003,723146,Forward charges,90.2
2,1091117222080,2001806229,0.71,500.0,121003,421204,Forward charges,90.2
3,1091117222124,2001806232,1.30,1302.0,121003,507101,Forward charges,135.0
4,1091117222135,2001806233,0.78,245.0,121003,263139,Forward charges,61.3

In [15]:
pincode_zones.head(1)

   Warehouse Pincode  Customer Pincode Zone
0             121003            507101    d

In [16]:
df=pd.merge(df,pincode_zones,on='Customer Pincode',how='left')

In [17]:
df

,AWB Code,Order ID,Charged Weight,Total Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Warehouse Pincode_y,Zone
0,1091117221940,2001806210,2.92,220.0,121003,140604,Forward charges,174.5,121003,b
1,1091117222065,2001806226,0.68,480.0,121003,723146,Forward charges,90.2,121003,d
2,1091117222080,2001806229,0.71,500.0,121003,421204,Forward charges,90.2,121003,d
3,1091117222124,2001806232,1.30,1302.0,121003,507101,Forward charges,135.0,121003,d
4,1091117222135,2001806233,0.78,245.0,121003,263139,Forward charges,61.3,121003,b
...,...,...,...,...,...,...,...,...,...,...
169,1091121183730,2001821995,0.50,477.0,121003,342008,Forward charges,45.4,121003,b
170,1091121305541,2001822466,1.10,1376.0,121003,342301,Forward charges,135.0,121003,b
171,1091121666133,2001823564,0.70,672.0,121003,492001,Forward and RTO charges,172.8,121003,d
172,1091121981575,2001825261,1.60,1557.0,121003,517128,Forward and RTO charges,345.0,121003,d
173,1091122418320,2001827036,1.60,1676.0,121003,173213,Forward charges,117.9,121003,e

In [18]:
df.drop('Warehouse Pincode_y', axis=1, inplace= True)
df.head()

,AWB Code,Order ID,Charged Weight,Total Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone
0,1091117221940,2001806210,2.92,220.0,121003,140604,Forward charges,174.5,b
1,1091117222065,2001806226,0.68,480.0,121003,723146,Forward charges,90.2,d
2,1091117222080,2001806229,0.71,500.0,121003,421204,Forward charges,90.2,d
3,1091117222124,2001806232,1.30,1302.0,121003,507101,Forward charges,135.0,d
4,1091117222135,2001806233,0.78,245.0,121003,263139,Forward charges,61.3,b

In [19]:
df['Total Weight'] = df['Total Weight']/1000

In [20]:
df

,AWB Code,Order ID,Charged Weight,Total Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone
0,1091117221940,2001806210,2.92,0.220,121003,140604,Forward charges,174.5,b
1,1091117222065,2001806226,0.68,0.480,121003,723146,Forward charges,90.2,d
2,1091117222080,2001806229,0.71,0.500,121003,421204,Forward charges,90.2,d
3,1091117222124,2001806232,1.30,1.302,121003,507101,Forward charges,135.0,d
4,1091117222135,2001806233,0.78,0.245,121003,263139,Forward charges,61.3,b
...,...,...,...,...,...,...,...,...,...
169,1091121183730,2001821995,0.50,0.477,121003,342008,Forward charges,45.4,b
170,1091121305541,2001822466,1.10,1.376,121003,342301,Forward charges,135.0,b
171,1091121666133,2001823564,0.70,0.672,121003,492001,Forward and RTO charges,172.8,d
172,1091121981575,2001825261,1.60,1.557,121003,517128,Forward and RTO charges,345.0,d
173,1091122418320,2001827036,1.60,1.676,121003,173213,Forward charges,117.9,e

In [21]:
df.drop_duplicates(inplace= True)

In [22]:
df

,AWB Code,Order ID,Charged Weight,Total Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone
0,1091117221940,2001806210,2.92,0.220,121003,140604,Forward charges,174.5,b
1,1091117222065,2001806226,0.68,0.480,121003,723146,Forward charges,90.2,d
2,1091117222080,2001806229,0.71,0.500,121003,421204,Forward charges,90.2,d
3,1091117222124,2001806232,1.30,1.302,121003,507101,Forward charges,135.0,d
4,1091117222135,2001806233,0.78,0.245,121003,263139,Forward charges,61.3,b
...,...,...,...,...,...,...,...,...,...
169,1091121183730,2001821995,0.50,0.477,121003,342008,Forward charges,45.4,b
170,1091121305541,2001822466,1.10,1.376,121003,342301,Forward charges,135.0,b
171,1091121666133,2001823564,0.70,0.672,121003,492001,Forward and RTO charges,172.8,d
172,1091121981575,2001825261,1.60,1.557,121003,517128,Forward and RTO charges,345.0,d
173,1091122418320,2001827036,1.60,1.676,121003,173213,Forward charges,117.9,e

In [23]:
df['Total Weight']=round(df['Total Weight'],2)

In [24]:
df

,AWB Code,Order ID,Charged Weight,Total Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone
0,1091117221940,2001806210,2.92,0.22,121003,140604,Forward charges,174.5,b
1,1091117222065,2001806226,0.68,0.48,121003,723146,Forward charges,90.2,d
2,1091117222080,2001806229,0.71,0.50,121003,421204,Forward charges,90.2,d
3,1091117222124,2001806232,1.30,1.30,121003,507101,Forward charges,135.0,d
4,1091117222135,2001806233,0.78,0.24,121003,263139,Forward charges,61.3,b
...,...,...,...,...,...,...,...,...,...
169,1091121183730,2001821995,0.50,0.48,121003,342008,Forward charges,45.4,b
170,1091121305541,2001822466,1.10,1.38,121003,342301,Forward charges,135.0,b
171,1091121666133,2001823564,0.70,0.67,121003,492001,Forward and RTO charges,172.8,d
172,1091121981575,2001825261,1.60,1.56,121003,517128,Forward and RTO charges,345.0,d
173,1091122418320,2001827036,1.60,1.68,121003,173213,Forward charges,117.9,e

In [25]:
bins = [0, 0.5, 1, 1.5, 2, 2.5]
labels = [0.5, 1, 1.5, 2, 2.5]
df['Weight Slab'] = pd.cut(df['Total Weight'], bins=bins, labels=labels, right=False, include_lowest=True)
df

,AWB Code,Order ID,Charged Weight,Total Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone,Weight Slab
0,1091117221940,2001806210,2.92,0.22,121003,140604,Forward charges,174.5,b,0.5
1,1091117222065,2001806226,0.68,0.48,121003,723146,Forward charges,90.2,d,0.5
2,1091117222080,2001806229,0.71,0.50,121003,421204,Forward charges,90.2,d,1.0
3,1091117222124,2001806232,1.30,1.30,121003,507101,Forward charges,135.0,d,1.5
4,1091117222135,2001806233,0.78,0.24,121003,263139,Forward charges,61.3,b,0.5
...,...,...,...,...,...,...,...,...,...,...
169,1091121183730,2001821995,0.50,0.48,121003,342008,Forward charges,45.4,b,0.5
170,1091121305541,2001822466,1.10,1.38,121003,342301,Forward charges,135.0,b,1.5
171,1091121666133,2001823564,0.70,0.67,121003,492001,Forward and RTO charges,172.8,d,1.0
172,1091121981575,2001825261,1.60,1.56,121003,517128,Forward and RTO charges,345.0,d,2.0
173,1091122418320,2001827036,1.60,1.68,121003,173213,Forward charges,117.9,e,2.0

In [26]:
df['Additional Weight']=df['Weight Slab'].apply(lambda x: x-0.5)
df

,AWB Code,Order ID,Charged Weight,Total Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone,Weight Slab,Additional Weight
0,1091117221940,2001806210,2.92,0.22,121003,140604,Forward charges,174.5,b,0.5,0.0
1,1091117222065,2001806226,0.68,0.48,121003,723146,Forward charges,90.2,d,0.5,0.0
2,1091117222080,2001806229,0.71,0.50,121003,421204,Forward charges,90.2,d,1.0,0.5
3,1091117222124,2001806232,1.30,1.30,121003,507101,Forward charges,135.0,d,1.5,1.0
4,1091117222135,2001806233,0.78,0.24,121003,263139,Forward charges,61.3,b,0.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...
169,1091121183730,2001821995,0.50,0.48,121003,342008,Forward charges,45.4,b,0.5,0.0
170,1091121305541,2001822466,1.10,1.38,121003,342301,Forward charges,135.0,b,1.5,1.0
171,1091121666133,2001823564,0.70,0.67,121003,492001,Forward and RTO charges,172.8,d,1.0,0.5
172,1091121981575,2001825261,1.60,1.56,121003,517128,Forward and RTO charges,345.0,d,2.0,1.5
173,1091122418320,2001827036,1.60,1.68,121003,173213,Forward charges,117.9,e,2.0,1.5

In [27]:
forward_fixed = df['Type of Shipment'].apply(lambda x:x.replace(x,'fwd_'))+df['Zone']+"_fixed"
forward_fixed

0      fwd_b_fixed
1      fwd_d_fixed
2      fwd_d_fixed
3      fwd_d_fixed
4      fwd_b_fixed
          ...
169    fwd_b_fixed
170    fwd_b_fixed
171    fwd_d_fixed
172    fwd_d_fixed
173    fwd_e_fixed
Length: 124, dtype: object

In [28]:
forward_add = df['Type of Shipment'].apply(lambda x:x.replace(x, 'fwd_'))+df['Zone']+"_additional"
forward_add

0      fwd_b_additional
1      fwd_d_additional
2      fwd_d_additional
3      fwd_d_additional
4      fwd_b_additional
             ...
169    fwd_b_additional
170    fwd_b_additional
171    fwd_d_additional
172    fwd_d_additional
173    fwd_e_additional
Length: 124, dtype: object

In [29]:
rto_fixed=df['Type of Shipment'].apply(lambda x:x.replace(x,'rto_'))+df['Zone']+'_fixed'
rto_fixed

0      rto_b_fixed
1      rto_d_fixed
2      rto_d_fixed
3      rto_d_fixed
4      rto_b_fixed
          ...
169    rto_b_fixed
170    rto_b_fixed
171    rto_d_fixed
172    rto_d_fixed
173    rto_e_fixed
Length: 124, dtype: object

In [30]:
rto_add = df['Type of Shipment'].apply(lambda x:x.replace(x, 'rto_'))+df['Zone']+"_additional"
rto_add

0      rto_b_additional
1      rto_d_additional
2      rto_d_additional
3      rto_d_additional
4      rto_b_additional
             ...
169    rto_b_additional
170    rto_b_additional
171    rto_d_additional
172    rto_d_additional
173    rto_e_additional
Length: 124, dtype: object

In [31]:
df['Fixed Charges']=np.where(df['Type of Shipment']=='Forward charges',forward_fixed,rto_fixed)
df

,AWB Code,Order ID,Charged Weight,Total Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone,Weight Slab,Additional Weight,Fixed Charges
0,1091117221940,2001806210,2.92,0.22,121003,140604,Forward charges,174.5,b,0.5,0.0,fwd_b_fixed
1,1091117222065,2001806226,0.68,0.48,121003,723146,Forward charges,90.2,d,0.5,0.0,fwd_d_fixed
2,1091117222080,2001806229,0.71,0.50,121003,421204,Forward charges,90.2,d,1.0,0.5,fwd_d_fixed
3,1091117222124,2001806232,1.30,1.30,121003,507101,Forward charges,135.0,d,1.5,1.0,fwd_d_fixed
4,1091117222135,2001806233,0.78,0.24,121003,263139,Forward charges,61.3,b,0.5,0.0,fwd_b_fixed
...,...,...,...,...,...,...,...,...,...,...,...,...
169,1091121183730,2001821995,0.50,0.48,121003,342008,Forward charges,45.4,b,0.5,0.0,fwd_b_fixed
170,1091121305541,2001822466,1.10,1.38,121003,342301,Forward charges,135.0,b,1.5,1.0,fwd_b_fixed
171,1091121666133,2001823564,0.70,0.67,121003,492001,Forward and RTO charges,172.8,d,1.0,0.5,rto_d_fixed
172,1091121981575,2001825261,1.60,1.56,121003,517128,Forward and RTO charges,345.0,d,2.0,1.5,rto_d_fixed
173,1091122418320,2001827036,1.60,1.68,121003,173213,Forward charges,117.9,e,2.0,1.5,fwd_e_fixed

In [32]:
df["Additional Charges"] = np.where(df['Type of Shipment'] == 'Forward charges', forward_add, rto_add)

In [33]:
df

,AWB Code,Order ID,Charged Weight,Total Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone,Weight Slab,Additional Weight,Fixed Charges,Additional Charges
0,1091117221940,2001806210,2.92,0.22,121003,140604,Forward charges,174.5,b,0.5,0.0,fwd_b_fixed,fwd_b_additional
1,1091117222065,2001806226,0.68,0.48,121003,723146,Forward charges,90.2,d,0.5,0.0,fwd_d_fixed,fwd_d_additional
2,1091117222080,2001806229,0.71,0.50,121003,421204,Forward charges,90.2,d,1.0,0.5,fwd_d_fixed,fwd_d_additional
3,1091117222124,2001806232,1.30,1.30,121003,507101,Forward charges,135.0,d,1.5,1.0,fwd_d_fixed,fwd_d_additional
4,1091117222135,2001806233,0.78,0.24,121003,263139,Forward charges,61.3,b,0.5,0.0,fwd_b_fixed,fwd_b_additional
...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,1091121183730,2001821995,0.50,0.48,121003,342008,Forward charges,45.4,b,0.5,0.0,fwd_b_fixed,fwd_b_additional
170,1091121305541,2001822466,1.10,1.38,121003,342301,Forward charges,135.0,b,1.5,1.0,fwd_b_fixed,fwd_b_additional
171,1091121666133,2001823564,0.70,0.67,121003,492001,Forward and RTO charges,172.8,d,1.0,0.5,rto_d_fixed,rto_d_additional
172,1091121981575,2001825261,1.60,1.56,121003,517128,Forward and RTO charges,345.0,d,2.0,1.5,rto_d_fixed,rto_d_additional
173,1091122418320,2001827036,1.60,1.68,121003,173213,Forward charges,117.9,e,2.0,1.5,fwd_e_fixed,fwd_e_additional

In [34]:
df=pd.merge(df,rates,how='left',left_on='Fixed Charges',right_on='index')
df

,AWB Code,Order ID,Charged Weight,Total Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone,Weight Slab,Additional Weight,Fixed Charges,Additional Charges,index,0
0,1091117221940,2001806210,2.92,0.22,121003,140604,Forward charges,174.5,b,0.5,0.0,fwd_b_fixed,fwd_b_additional,fwd_b_fixed,33.0
1,1091117222065,2001806226,0.68,0.48,121003,723146,Forward charges,90.2,d,0.5,0.0,fwd_d_fixed,fwd_d_additional,fwd_d_fixed,45.4
2,1091117222080,2001806229,0.71,0.50,121003,421204,Forward charges,90.2,d,1.0,0.5,fwd_d_fixed,fwd_d_additional,fwd_d_fixed,45.4
3,1091117222124,2001806232,1.30,1.30,121003,507101,Forward charges,135.0,d,1.5,1.0,fwd_d_fixed,fwd_d_additional,fwd_d_fixed,45.4
4,1091117222135,2001806233,0.78,0.24,121003,263139,Forward charges,61.3,b,0.5,0.0,fwd_b_fixed,fwd_b_additional,fwd_b_fixed,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1091121183730,2001821995,0.50,0.48,121003,342008,Forward charges,45.4,b,0.5,0.0,fwd_b_fixed,fwd_b_additional,fwd_b_fixed,33.0
120,1091121305541,2001822466,1.10,1.38,121003,342301,Forward charges,135.0,b,1.5,1.0,fwd_b_fixed,fwd_b_additional,fwd_b_fixed,33.0
121,1091121666133,2001823564,0.70,0.67,121003,492001,Forward and RTO charges,172.8,d,1.0,0.5,rto_d_fixed,rto_d_additional,rto_d_fixed,41.3
122,1091121981575,2001825261,1.60,1.56,121003,517128,Forward and RTO charges,345.0,d,2.0,1.5,rto_d_fixed,rto_d_additional,rto_d_fixed,41.3
123,1091122418320,2001827036,1.60,1.68,121003,173213,Forward charges,117.9,e,2.0,1.5,fwd_e_fixed,fwd_e_additional,fwd_e_fixed,56.6

In [35]:
df=pd.merge(df,rates,how='left',left_on='Additional Charges',right_on='index')
df

,AWB Code,Order ID,Charged Weight,Total Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone,Weight Slab,Additional Weight,Fixed Charges,Additional Charges,index_x,0_x,index_y,0_y
0,1091117221940,2001806210,2.92,0.22,121003,140604,Forward charges,174.5,b,0.5,0.0,fwd_b_fixed,fwd_b_additional,fwd_b_fixed,33.0,fwd_b_additional,28.3
1,1091117222065,2001806226,0.68,0.48,121003,723146,Forward charges,90.2,d,0.5,0.0,fwd_d_fixed,fwd_d_additional,fwd_d_fixed,45.4,fwd_d_additional,44.8
2,1091117222080,2001806229,0.71,0.50,121003,421204,Forward charges,90.2,d,1.0,0.5,fwd_d_fixed,fwd_d_additional,fwd_d_fixed,45.4,fwd_d_additional,44.8
3,1091117222124,2001806232,1.30,1.30,121003,507101,Forward charges,135.0,d,1.5,1.0,fwd_d_fixed,fwd_d_additional,fwd_d_fixed,45.4,fwd_d_additional,44.8
4,1091117222135,2001806233,0.78,0.24,121003,263139,Forward charges,61.3,b,0.5,0.0,fwd_b_fixed,fwd_b_additional,fwd_b_fixed,33.0,fwd_b_additional,28.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1091121183730,2001821995,0.50,0.48,121003,342008,Forward charges,45.4,b,0.5,0.0,fwd_b_fixed,fwd_b_additional,fwd_b_fixed,33.0,fwd_b_additional,28.3
120,1091121305541,2001822466,1.10,1.38,121003,342301,Forward charges,135.0,b,1.5,1.0,fwd_b_fixed,fwd_b_additional,fwd_b_fixed,33.0,fwd_b_additional,28.3
121,1091121666133,2001823564,0.70,0.67,121003,492001,Forward and RTO charges,172.8,d,1.0,0.5,rto_d_fixed,rto_d_additional,rto_d_fixed,41.3,rto_d_additional,44.8
122,1091121981575,2001825261,1.60,1.56,121003,517128,Forward and RTO charges,345.0,d,2.0,1.5,rto_d_fixed,rto_d_additional,rto_d_fixed,41.3,rto_d_additional,44.8
123,1091122418320,2001827036,1.60,1.68,121003,173213,Forward charges,117.9,e,2.0,1.5,fwd_e_fixed,fwd_e_additional,fwd_e_fixed,56.6,fwd_e_additional,55.5

In [36]:
df.rename(columns={'0_x': 'Rate_x', '0_y': 'Rate_y'}, inplace=True)
df

,AWB Code,Order ID,Charged Weight,Total Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone,Weight Slab,Additional Weight,Fixed Charges,Additional Charges,index_x,Rate_x,index_y,Rate_y
0,1091117221940,2001806210,2.92,0.22,121003,140604,Forward charges,174.5,b,0.5,0.0,fwd_b_fixed,fwd_b_additional,fwd_b_fixed,33.0,fwd_b_additional,28.3
1,1091117222065,2001806226,0.68,0.48,121003,723146,Forward charges,90.2,d,0.5,0.0,fwd_d_fixed,fwd_d_additional,fwd_d_fixed,45.4,fwd_d_additional,44.8
2,1091117222080,2001806229,0.71,0.50,121003,421204,Forward charges,90.2,d,1.0,0.5,fwd_d_fixed,fwd_d_additional,fwd_d_fixed,45.4,fwd_d_additional,44.8
3,1091117222124,2001806232,1.30,1.30,121003,507101,Forward charges,135.0,d,1.5,1.0,fwd_d_fixed,fwd_d_additional,fwd_d_fixed,45.4,fwd_d_additional,44.8
4,1091117222135,2001806233,0.78,0.24,121003,263139,Forward charges,61.3,b,0.5,0.0,fwd_b_fixed,fwd_b_additional,fwd_b_fixed,33.0,fwd_b_additional,28.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1091121183730,2001821995,0.50,0.48,121003,342008,Forward charges,45.4,b,0.5,0.0,fwd_b_fixed,fwd_b_additional,fwd_b_fixed,33.0,fwd_b_additional,28.3
120,1091121305541,2001822466,1.10,1.38,121003,342301,Forward charges,135.0,b,1.5,1.0,fwd_b_fixed,fwd_b_additional,fwd_b_fixed,33.0,fwd_b_additional,28.3
121,1091121666133,2001823564,0.70,0.67,121003,492001,Forward and RTO charges,172.8,d,1.0,0.5,rto_d_fixed,rto_d_additional,rto_d_fixed,41.3,rto_d_additional,44.8
122,1091121981575,2001825261,1.60,1.56,121003,517128,Forward and RTO charges,345.0,d,2.0,1.5,rto_d_fixed,rto_d_additional,rto_d_fixed,41.3,rto_d_additional,44.8
123,1091122418320,2001827036,1.60,1.68,121003,173213,Forward charges,117.9,e,2.0,1.5,fwd_e_fixed,fwd_e_additional,fwd_e_fixed,56.6,fwd_e_additional,55.5

In [37]:
df['Additional Weight']=df['Additional Weight'].astype('float64')

In [38]:
df['Total Additional Charges'] = 2*df['Rate_y']*df['Additional Weight']
df['Total Charges by X'] = df['Rate_x'] + df['Total Additional Charges']
df.head()

,AWB Code,Order ID,Charged Weight,Total Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone,Weight Slab,Additional Weight,Fixed Charges,Additional Charges,index_x,Rate_x,index_y,Rate_y,Total Additional Charges,Total Charges by X
0,1091117221940,2001806210,2.92,0.22,121003,140604,Forward charges,174.5,b,0.5,0.0,fwd_b_fixed,fwd_b_additional,fwd_b_fixed,33.0,fwd_b_additional,28.3,0.0,33.0
1,1091117222065,2001806226,0.68,0.48,121003,723146,Forward charges,90.2,d,0.5,0.0,fwd_d_fixed,fwd_d_additional,fwd_d_fixed,45.4,fwd_d_additional,44.8,0.0,45.4
2,1091117222080,2001806229,0.71,0.50,121003,421204,Forward charges,90.2,d,1.0,0.5,fwd_d_fixed,fwd_d_additional,fwd_d_fixed,45.4,fwd_d_additional,44.8,44.8,90.2
3,1091117222124,2001806232,1.30,1.30,121003,507101,Forward charges,135.0,d,1.5,1.0,fwd_d_fixed,fwd_d_additional,fwd_d_fixed,45.4,fwd_d_additional,44.8,89.6,135.0
4,1091117222135,2001806233,0.78,0.24,121003,263139,Forward charges,61.3,b,0.5,0.0,fwd_b_fixed,fwd_b_additional,fwd_b_fixed,33.0,fwd_b_additional,28.3,0.0,33.0

In [39]:
df.drop(['Fixed Charges', 'Additional Charges', 'index_x', 'Rate_x',
       'index_y', 'Rate_y'], inplace= True, axis=1)
df.head()

,AWB Code,Order ID,Charged Weight,Total Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone,Weight Slab,Additional Weight,Total Additional Charges,Total Charges by X
0,1091117221940,2001806210,2.92,0.22,121003,140604,Forward charges,174.5,b,0.5,0.0,0.0,33.0
1,1091117222065,2001806226,0.68,0.48,121003,723146,Forward charges,90.2,d,0.5,0.0,0.0,45.4
2,1091117222080,2001806229,0.71,0.50,121003,421204,Forward charges,90.2,d,1.0,0.5,44.8,90.2
3,1091117222124,2001806232,1.30,1.30,121003,507101,Forward charges,135.0,d,1.5,1.0,89.6,135.0
4,1091117222135,2001806233,0.78,0.24,121003,263139,Forward charges,61.3,b,0.5,0.0,0.0,33.0

In [40]:
df['difference']=round(df['Billing Amount (Rs.)']-df['Total Charges by X'],1)

In [41]:
df

,AWB Code,Order ID,Charged Weight,Total Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone,Weight Slab,Additional Weight,Total Additional Charges,Total Charges by X,difference
0,1091117221940,2001806210,2.92,0.22,121003,140604,Forward charges,174.5,b,0.5,0.0,0.0,33.0,141.5
1,1091117222065,2001806226,0.68,0.48,121003,723146,Forward charges,90.2,d,0.5,0.0,0.0,45.4,44.8
2,1091117222080,2001806229,0.71,0.50,121003,421204,Forward charges,90.2,d,1.0,0.5,44.8,90.2,0.0
3,1091117222124,2001806232,1.30,1.30,121003,507101,Forward charges,135.0,d,1.5,1.0,89.6,135.0,0.0
4,1091117222135,2001806233,0.78,0.24,121003,263139,Forward charges,61.3,b,0.5,0.0,0.0,33.0,28.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1091121183730,2001821995,0.50,0.48,121003,342008,Forward charges,45.4,b,0.5,0.0,0.0,33.0,12.4
120,1091121305541,2001822466,1.10,1.38,121003,342301,Forward charges,135.0,b,1.5,1.0,56.6,89.6,45.4
121,1091121666133,2001823564,0.70,0.67,121003,492001,Forward and RTO charges,172.8,d,1.0,0.5,44.8,86.1,86.7
122,1091121981575,2001825261,1.60,1.56,121003,517128,Forward and RTO charges,345.0,d,2.0,1.5,134.4,175.7,169.3
123,1091122418320,2001827036,1.60,1.68,121003,173213,Forward charges,117.9,e,2.0,1.5,166.5,223.1,-105.2

In [43]:
df['Charges'] = np.where(df['difference']>0, "Over Charged", np.where(df['difference']==0, "Same", "Under Charged"))
df.head()

,AWB Code,Order ID,Charged Weight,Total Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone,Weight Slab,Additional Weight,Total Additional Charges,Total Charges by X,difference,Charges
0,1091117221940,2001806210,2.92,0.22,121003,140604,Forward charges,174.5,b,0.5,0.0,0.0,33.0,141.5,Over Charged
1,1091117222065,2001806226,0.68,0.48,121003,723146,Forward charges,90.2,d,0.5,0.0,0.0,45.4,44.8,Over Charged
2,1091117222080,2001806229,0.71,0.50,121003,421204,Forward charges,90.2,d,1.0,0.5,44.8,90.2,0.0,Same
3,1091117222124,2001806232,1.30,1.30,121003,507101,Forward charges,135.0,d,1.5,1.0,89.6,135.0,0.0,Same
4,1091117222135,2001806233,0.78,0.24,121003,263139,Forward charges,61.3,b,0.5,0.0,0.0,33.0,28.3,Over Charged

In [82]:
df.groupby('Charges').sum()[['Billing Amount (Rs.)','Total Charges by X', 'difference']]

               Billing Amount (Rs.)  Total Charges by X  difference
Charges
Over Charged                 9562.9              4947.5      4615.4
Same                         2501.9              2501.9         0.0
Under Charged                1583.4              1653.5      -608.9

In [46]:
df[df['Charges'] == 'Under Charged']

,AWB Code,Order ID,Charged Weight,Total Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone,Weight Slab,Additional Weight,Total Additional Charges,Total Charges by X,difference,Charges
35,1091117323812,2001807186,0.50,0.50,121003,396001,Forward charges,45.4,d,1.0,0.5,44.8,90.2,-44.8,Under Charged
37,1091117324206,2001807290,0.50,0.50,121003,711106,Forward charges,45.4,d,1.0,0.5,44.8,90.2,-44.8,Under Charged
40,1091117324394,2001807362,2.00,2.02,121003,452018,Forward charges,179.8,d,2.5,2.0,179.2,224.6,-44.8,Under Charged
41,1091117325094,2001807415,1.00,1.05,121003,208001,Forward charges,61.3,b,1.5,1.0,56.6,89.6,-28.3,Under Charged
52,1091117327570,2001807981,0.50,0.50,121003,332715,Forward charges,45.4,b,1.0,0.5,28.3,61.3,-15.9,Under Charged
61,1091117436652,2001808585,0.72,0.50,121003,175101,Forward charges,61.3,e,1.0,0.5,55.5,112.1,-50.8,Under Charged
72,1091117616121,2001809592,1.50,1.50,121003,244713,Forward charges,89.6,b,2.0,1.5,84.9,117.9,-28.3,Under Charged
73,1091117795531,2001809794,1.50,1.52,121003,580007,Forward charges,135.0,d,2.0,1.5,134.4,179.8,-44.8,Under Charged
74,1091117795623,2001809820,3.00,3.08,121003,360005,Forward charges,269.4,d,NaN,NaN,NaN,NaN,NaN,Under Charged
87,1091121846136,2001811305,0.50,0.75,121003,302020,Forward charges,45.4,b,1.0,0.5,28.3,61.3,-15.9,Under Charged
91,1091121844806,2001811475,0.50,0.69,121003,173212,Forward charges,33.0,e,1.0,0.5,55.5,112.1,-79.1,Under Charged
92,1091118004245,2001811604,0.80,0.72,121003,173212,Forward charges,61.3,e,1.0,0.5,55.5,112.1,-50.8,Under Charged
97,1091118548333,2001812854,2.94,2.57,121003,306302,Forward charges,269.4,b,NaN,NaN,NaN,NaN,NaN,Under Charged
104,1091119429202,2001816996,0.50,0.50,121003,335512,Forward charges,45.4,b,1.0,0.5,28.3,61.3,-15.9,Under Charged
108,1091120352712,2001819252,0.30,0.27,121003,174101,Forward charges,33.0,e,0.5,0.0,0.0,56.6,-23.6,Under Charged
110,1091120922803,2001820978,0.50,0.52,121003,313301,Forward charges,45.4,b,1.0,0.5,28.3,61.3,-15.9,Under Charged
123,1091122418320,2001827036,1.60,1.68,121003,173213,Forward charges,117.9,e,2.0,1.5,166.5,223.1,-105.2,Under Charged

In [48]:
with pd.ExcelWriter("Logistics.xlsx") as writer:
    df.to_excel(writer,sheet_name="resultant")
    df[df['Charges']=='']

In [87]:
df2=df.groupby('Charges').get_group('Over Charged')
df2

,AWB Code,Order ID,Charged Weight,Total Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone,Weight Slab,Additional Weight,Total Additional Charges,Total Charges by X,difference,Charges
0,1091117221940,2001806210,2.92,0.22,121003,140604,Forward charges,174.5,b,0.5,0.0,0.0,33.0,141.5,Over Charged
1,1091117222065,2001806226,0.68,0.48,121003,723146,Forward charges,90.2,d,0.5,0.0,0.0,45.4,44.8,Over Charged
4,1091117222135,2001806233,0.78,0.24,121003,263139,Forward charges,61.3,b,0.5,0.0,0.0,33.0,28.3,Over Charged
5,1091117222146,2001806251,1.27,0.24,121003,743263,Forward charges,135.0,d,0.5,0.0,0.0,45.4,89.6,Over Charged
7,1091117222360,2001806304,0.71,0.50,121003,302017,Forward charges,90.2,b,1.0,0.5,28.3,61.3,28.9,Over Charged
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,1091121034641,2001821766,0.20,0.24,121003,313001,Forward charges,45.4,b,0.5,0.0,0.0,33.0,12.4,Over Charged
119,1091121183730,2001821995,0.50,0.48,121003,342008,Forward charges,45.4,b,0.5,0.0,0.0,33.0,12.4,Over Charged
120,1091121305541,2001822466,1.10,1.38,121003,342301,Forward charges,135.0,b,1.5,1.0,56.6,89.6,45.4,Over Charged
121,1091121666133,2001823564,0.70,0.67,121003,492001,Forward and RTO charges,172.8,d,1.0,0.5,44.8,86.1,86.7,Over Charged
122,1091121981575,2001825261,1.60,1.56,121003,517128,Forward and RTO charges,345.0,d,2.0,1.5,134.4,175.7,169.3,Over Charged

In [88]:
df3=df.groupby('Charges').get_group('Under Charged')
df3

,AWB Code,Order ID,Charged Weight,Total Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone,Weight Slab,Additional Weight,Total Additional Charges,Total Charges by X,difference,Charges
35,1091117323812,2001807186,0.50,0.50,121003,396001,Forward charges,45.4,d,1.0,0.5,44.8,90.2,-44.8,Under Charged
37,1091117324206,2001807290,0.50,0.50,121003,711106,Forward charges,45.4,d,1.0,0.5,44.8,90.2,-44.8,Under Charged
40,1091117324394,2001807362,2.00,2.02,121003,452018,Forward charges,179.8,d,2.5,2.0,179.2,224.6,-44.8,Under Charged
41,1091117325094,2001807415,1.00,1.05,121003,208001,Forward charges,61.3,b,1.5,1.0,56.6,89.6,-28.3,Under Charged
52,1091117327570,2001807981,0.50,0.50,121003,332715,Forward charges,45.4,b,1.0,0.5,28.3,61.3,-15.9,Under Charged
61,1091117436652,2001808585,0.72,0.50,121003,175101,Forward charges,61.3,e,1.0,0.5,55.5,112.1,-50.8,Under Charged
72,1091117616121,2001809592,1.50,1.50,121003,244713,Forward charges,89.6,b,2.0,1.5,84.9,117.9,-28.3,Under Charged
73,1091117795531,2001809794,1.50,1.52,121003,580007,Forward charges,135.0,d,2.0,1.5,134.4,179.8,-44.8,Under Charged
74,1091117795623,2001809820,3.00,3.08,121003,360005,Forward charges,269.4,d,NaN,NaN,NaN,NaN,NaN,Under Charged
87,1091121846136,2001811305,0.50,0.75,121003,302020,Forward charges,45.4,b,1.0,0.5,28.3,61.3,-15.9,Under Charged
91,1091121844806,2001811475,0.50,0.69,121003,173212,Forward charges,33.0,e,1.0,0.5,55.5,112.1,-79.1,Under Charged
92,1091118004245,2001811604,0.80,0.72,121003,173212,Forward charges,61.3,e,1.0,0.5,55.5,112.1,-50.8,Under Charged
97,1091118548333,2001812854,2.94,2.57,121003,306302,Forward charges,269.4,b,NaN,NaN,NaN,NaN,NaN,Under Charged
104,1091119429202,2001816996,0.50,0.50,121003,335512,Forward charges,45.4,b,1.0,0.5,28.3,61.3,-15.9,Under Charged
108,1091120352712,2001819252,0.30,0.27,121003,174101,Forward charges,33.0,e,0.5,0.0,0.0,56.6,-23.6,Under Charged
110,1091120922803,2001820978,0.50,0.52,121003,313301,Forward charges,45.4,b,1.0,0.5,28.3,61.3,-15.9,Under Charged
123,1091122418320,2001827036,1.60,1.68,121003,173213,Forward charges,117.9,e,2.0,1.5,166.5,223.1,-105.2,Under Charged

In [91]:
df4=df.groupby('Charges').get_group('Same')

In [97]:
with pd.ExcelWriter("Logistics.xlsx") as writer:
    df.to_excel(writer,sheet_name="resultant")
    df2.to_excel(writer,sheet_name="Over Charged")
    df3.to_excel(writer,sheet_name="Under Charged")
    df4.to_excel(writer,sheet_name="Same")